.catalog{
  min-height: fit-content;
  &__mainHeader{
    font-weight: 100;
    font-size: 40px;
    line-height: 40px;
    margin: 64px auto;
    text-align: center;
  }
  &__List{
    display: flex;
    max-width: 1140px;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  &__item{
    max-width: 300px;
    min-width: 100px;
    min-height: 480px;
    margin: 0 10px 20px 10px;
    padding: 0 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px lightskyblue;
  }
  &Item{
    &__header{
      font-size: 20px;
      font-weight: 400;
      margin: 0;
      &::before{
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        height: 150px;
      }
      &--1{
        &::before{
          background-image: url("../img/card1.png");
          width: 172px;
        }
      }
      &--2{
        &::before{
          background-image: url("../img/card2.png");
          width: 132px;
        }
      }
      &--3{
        &::before{
          background-image: url("../img/card3.png");
          width: 148px;
        }
      }
    }
    &__image{
      display: block;
      align-content: center;
      margin: 10px auto;
    }
  }
}
