.contacts-intro{
  min-height: 200px;
  background-color: lightblue;
  border: 1px solid red;
  color: white;
  text-align: center;
  &__header{
    font-size: 40px;
    line-height: 40px;
    font-weight: 100;
  }
}
