.gallery{
  &__text{
    color: white;
    float: right;
    padding: 64px;
    text-decoration: none;
    font-size: 32px;
    font-weight: 100;
    line-height: 42px;
    text-align: right;
    &--2{
      padding: 32px;
      float: left;
    }
    &--3{
      padding: 32px;
      float: left;
    }
  }
  &__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    max-width: 1140px;
    margin: 0 auto;
  }
  &__item{
    outline: 1px solid red;
    margin-bottom: 32px;
    border-radius: 10px;
    height: 26em;
    width: 35em;
    &--1 {
      height: 30em;
      width: 72em;
      background-image: url("../img/smart-home.png");
      background-repeat: no-repeat;
      background-size: inherit;
      &:hover{
        background-image: url("../img/smart-home-hover.png");
      }
    }
    &--2{
      background-image: url("../img/sparklightapp.png");
      background-repeat: no-repeat;
      background-size: inherit;
      &:hover{
        background-image: url("../img/sparklightapp-hover.png");
      }
    }
    &--3{
      background-image: url("../img/carrepairing.png");
      background-repeat: no-repeat;
      background-size: inherit;
      &:hover{
        background-image: url("../img/carrepairing-hover.png");
      }
    }
  }
}