.letsTalk{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__header {
    font-weight: 100;
    font-size: 40px;
    line-height: 40px;
    margin-top: 91px;
  }
  &__item{
    &--1{
      max-width: 495px;
    }
  }
  &__button{
    padding: 10px 70px;
    background-color: #5A98D0;
    border: none;
    color: white;
  }
}
