.main-text{
  min-height: 768px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__background{
    height: 768px;
    width: 100%;
    position: absolute;
    background-image: url("../img/gradient.png");
    z-index: -1;
  }
  &__header{
    max-width: 510px;
    font-size: 64px;
    font-weight: 200;
    line-height: 64px;
  }
  &__text{
    max-width: 425px;
    margin-bottom: 100px;
  }
  &__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &::after {
      content: " ";
      display: block;
      background-image: url("../img/main-page-illustration.png");
      width: 550px;
      height: 490px;
      }
    }
  }

