.nav-list {
  font-size: 0;
  padding: 0;

  &__item {
    &--1{
      & a {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url("../img/index-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        &:hover{
          background-color: #E8F1F7;
        }
      }
    }
    &--2{
      & a {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url("../img/contacts-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        &:hover{
          background-color: #E8F1F7;
        }
      }
    }
  }
}