.ourFinishedProjects{
  &__header{
    font-weight: 100;
    font-size: 40px;
    line-height: 40px;
    border: 1px solid red;
    margin: 10px auto;
    text-align: center;
  }
  &__text{
    border: 1px solid red;
    text-align: center;
  }
}
