body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 113px;
}
.main-nav {
  max-height: 48px;
}
.main-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.main-text {
  min-height: 768px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-text__background {
  height: 768px;
  width: 100%;
  position: absolute;
  background-image: url("../img/gradient.png");
  z-index: -1;
}
.main-text__header {
  max-width: 510px;
  font-size: 64px;
  font-weight: 200;
  line-height: 64px;
}
.main-text__text {
  max-width: 425px;
  margin-bottom: 100px;
}
.main-text__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-text__item::after {
  content: " ";
  display: block;
  background-image: url("../img/main-page-illustration.png");
  width: 550px;
  height: 490px;
}
.catalog {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.catalog__mainHeader {
  font-weight: 100;
  font-size: 40px;
  line-height: 40px;
  margin: 64px auto;
  text-align: center;
}
.catalog__List {
  display: flex;
  max-width: 1140px;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.catalog__item {
  max-width: 300px;
  min-width: 100px;
  min-height: 480px;
  margin: 0 10px 20px 10px;
  padding: 0 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px lightskyblue;
}
.catalogItem__header {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.catalogItem__header::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  height: 150px;
}
.catalogItem__header--1::before {
  background-image: url("../img/card1.png");
  width: 172px;
}
.catalogItem__header--2::before {
  background-image: url("../img/card2.png");
  width: 132px;
}
.catalogItem__header--3::before {
  background-image: url("../img/card3.png");
  width: 148px;
}
.catalogItem__image {
  display: block;
  align-content: center;
  margin: 10px auto;
}
.ourFinishedProjects {
  text-align: center;
}
.ourFinishedProjects__header {
  font-weight: 100;
  font-size: 40px;
  line-height: 40px;
  margin: 32px auto;
  text-align: center;
}
.ourFinishedProjects__text {
  text-align: center;
  max-width: 750px;
  margin: 32px auto;
}
.letsTalk {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.letsTalk__header {
  font-weight: 100;
  font-size: 40px;
  line-height: 40px;
  margin-top: 91px;
}
.letsTalk__item--1 {
  max-width: 495px;
}
.letsTalk__button {
  padding: 10px 70px;
  background-color: #5A98D0;
  border: none;
  color: white;
}
.footer {
  background-color: #316099;
  color: white;
}
.footer a {
  color: white;
  text-decoration: none;
}
.contactUs::before {
  display: block;
  height: 5px;
  width: 100%;
  background-color: lightblue;
  content: " ";
}
.contactUsList {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  padding: 0;
}
.contactUsList__item {
  display: flex;
  align-items: center;
}
.contactUsList__item--1::before {
  content: "A.";
  display: inline;
  margin-right: 10px;
}
.contactUsList__item--2::before {
  content: "T.";
  display: inline;
  margin-right: 10px;
}
.contactUsList__item--3::before {
  content: "E.";
  display: inline;
  margin-right: 10px;
}
.copyright {
  padding: 64px 0;
  opacity: 0.4;
}
.contacts-intro__background {
  background-color: lightblue;
  color: white;
  text-align: center;
  background-image: url("../img/contacts-slider.png");
  background-repeat: repeat-x;
}
.contacts-intro__header {
  font-size: 44px;
  line-height: 47px;
  font-weight: 100;
  padding-top: 51px;
}
.contacts-intro__text {
  max-width: 780px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.contactsMainBlock {
  display: flex;
}
.contactsMainBlock__item {
  border: 1px solid red;
  flex-grow: 1;
}
.contactsMainBlock__item--left ul {
  list-style: none;
  padding: 0;
}
.contactsForm {
  display: flex;
  flex-direction: column;
}
.nav-list {
  font-size: 0;
  padding: 0;
}
.nav-list__item--1 a {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/index-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.nav-list__item--1 a:hover {
  background-color: #E8F1F7;
}
.nav-list__item--2 a {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/contacts-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.nav-list__item--2 a:hover {
  background-color: #E8F1F7;
}
.gallery__text {
  color: white;
  float: right;
  padding: 32px 32px 405px 24em;
  text-decoration: none;
  font-size: 32px;
  font-weight: 100;
  line-height: 42px;
  text-align: right;
}
.gallery__text--2 {
  padding: 32px 10em 342px 32px;
  float: left;
}
.gallery__text--3 {
  padding: 32px 7em 342px 32px;
  float: left;
}
.gallery__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  max-width: 1140px;
  margin: 0 auto;
}
.gallery__item {
  margin-bottom: 32px;
  border-radius: 10px;
  height: 26em;
  width: 35em;
}
.gallery__item--1 {
  height: 30em;
  width: 72em;
  background-image: url("../img/smart-home.png");
  background-repeat: no-repeat;
  background-size: inherit;
}
.gallery__item--1:hover {
  background-image: url("../img/smart-home-hover.png");
}
.gallery__item--2 {
  background-image: url("../img/sparklightapp.png");
  background-repeat: no-repeat;
  background-size: inherit;
}
.gallery__item--2:hover {
  background-image: url("../img/sparklightapp-hover.png");
}
.gallery__item--3 {
  background-image: url("../img/carrepairing.png");
  background-repeat: no-repeat;
  background-size: inherit;
}
.gallery__item--3:hover {
  background-image: url("../img/carrepairing-hover.png");
}

/*# sourceMappingURL=main.css.map */
